@import "tailwindcss";

@theme {
    --font-neosans: "NeoSans", sans-serif;
    --font-lausane: "Lausane", sans-serif;
}

@layer components {
    .padding-x {
        @apply px-6 md:px-12 2xl:px-20;
    }
}

@layer utilities {
    .text-extrasmall {
        @apply text-[10px] tracking-[1.6px];
    }
}

body {
    font-family: var(--font-lausane);
    overflow: hidden;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "NeoSans";
    src: url("/fonts/NeoSansPro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lausane";
    src: url("/fonts/lausane.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.gradient-background {
    background: linear-gradient(100deg, deepskyblue, #040a2e, #040a2e);
    background-size: 150% 150%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sticky-section {
    position: relative;
    height: 200vh; /* double height for scroll effect */
}

.sticky-inner {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes sineWave {
    0% {
        d: path("M10,25 Q30,-5 50,25 Q70,55 90,25");
    }
    50% {
        d: path("M10,25 Q30,55 50,25 Q70,-5 90,25");
    }
    100% {
        d: path("M10,25 Q30,-5 50,25 Q70,55 90,25");
    }
}

@keyframes waveSlide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0);
    }
}

.sine-wave-animate {
    animation: sineWave 2s ease-in-out infinite, waveSlide 2s ease-in-out infinite;
}

.swiper-slide-prev,
.swiper-slide-next {
    filter: blur(2.5px);
}

html {
    scroll-behavior: auto;
    scroll-padding-top: 80px; /* Or match your header height */
}
