@import "tailwindcss";

@theme {
    --font-nunito: var(--font-nunito);
}

@layer components {
    .padding-x {
       @apply px-6 md:px-12 2xl:px-20;
    }
}

body {
    font-family: var(--font-nunito);
}

button {
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}